@media(min-width: 1200px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    $width-page: 1200px;
    $width: 6.25%;
    @for $i from 1 through 16 {
        .col-lg-#{$i} {
            width: $width*$i;
        }
    }
    [class^='col-'] {
        float: left;
    }
    .row {
        width: 100%;
        margin: 10px 0;
    }
    body {
        margin: 0 auto;
    }
    .navigation {
        height: 50px;
        background-color: lightgray;
        .wrap-nav {
            width: 1200px;
            margin: 0 auto;
            ul {
                float: left;
                list-style: none;
                margin-top: 10px;
                li {
                    a.active {
                        border-radius: 2px;
                    }
                }
                li {
                    display: inline;
                    font-size: 22px;
                    margin-right: 20px;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                    a.active {
                        color: orange;
                    }
                    &:hover .menu {
                        display: block;
                    }
                    .menu {
                        position: absolute;
                        min-height: 100px;
                        width: 700px;
                        background-color: lightgray;
                        top: 50px;
                        left: 20px;
                        display: none;
                        li {
                            float: left;
                            width: 150px;
                            a {
                                font-size: 20px;
                                color: black;
                                text-decoration: underline;
                            }
                            ul {
                                li {
                                    display: block;
                                    a {
                                        text-decoration: none;
                                        font-size: 16px;
                                        color: gray;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .search-box {
                float: left;
                margin-top: 10px;
                input {
                    width: 300px;
                    height: 30px;
                    font-size: 20px;
                    margin-top: 0px;
                    float: left;
                    border-radius: 3px 0 0 3px;
                    border: none;
                }
                button {
                    width: 70px;
                    height: 30px;
                    margin-top: 0px;
                    border-radius: 0px 3px 3px 0;
                    border: none;
                }
            }
            .account {
                float: right;
                margin-top: 25px;
                a {
                    color: black;
                    margin-left: 10px;
                    text-decoration: none;
                }
            }
        }
    }
    #header {
        height: 500px;
        margin-bottom: 50px;
        .wrap-header {
            width: 1200px;
            margin: 0 auto;
            overflow-x: hidden;
            ul {
                list-style: none;
                width: 4000px;
                li {
                    float: left;
                    .item {
                        width: 1200px;
                        .detail {
                            width: 50%;
                            float: left;
                            .head {
                                font-size: 30px;
                                color: orange;
                                margin-top: 50px;
                                margin-left: 50px;
                            }
                            .title {
                                font-size: 20px;
                                margin-left: 50px;
                            }
                            .paraph {
                                margin-left: 50px;
                            }
                        }
                        .image {
                            width: 50%;
                            float: right;
                        }
                    }
                }
            }
        }
    }
    .main-page {
        width: $width-page;
        margin: 0 auto;
        &:after {
            content: "";
            clear: both;
            display: block;
        }
        .box-category {
            border: 1px solid lightgray;
            margin: 20px 0;
            .title-category {
                text-align: center;
            }
            .content {
                ul {
                    list-style: none;
                    li {
                        .cart {
                            width: 215px;
                            height: 400px;
                            margin: 0 10px;
                            margin-top: 0;
                            float: left;
                            .image {
                                width: 100%;
                                height: 80%;
                                background-color: red;
                                a {
                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                            .detail {
                                width: 100%;
                                height: 20%;
                                text-align: center;
                                span {
                                    display: block;
                                    font-size: 25px;
                                }
                                button {
                                    width: 80px;
                                    height: 30px;
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }
            &:after {
                content: "";
                clear: both;
                display: block;
            }
        }
        .box-category-special {
            border: 1px solid lightgray;
            .title-category {
                text-align: center;
            }
            .content {
                height: 350px;
                overflow-x: auto;
                ul {
                    list-style: none;
                    width: 3000px;
                    li {
                        .cart {
                            width: 180px;
                            height: 320px;
                            margin: 0 10px;
                            margin-top: 0;
                            float: left;
                            .image {
                                width: 100%;
                                height: 80%;
                                background-color: red;
                                a {
                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                            .detail {
                                width: 100%;
                                height: 20%;
                                text-align: center;
                                span {
                                    display: block;
                                    font-size: 25px;
                                }
                                button {
                                    width: 80px;
                                    height: 30px;
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }
            &:after {
                content: "";
                clear: both;
                display: block;
            }
        }
    }
    .footer {
        height: 200px;
        background-color: lightgray;
        .wrap-footer {
            width: 1200px;
            margin: 0 auto;
            .left-box {
                float: left;
                display: flex;
                width: 70%;
                .box {
                    width: 30%;
                    ul {
                        list-style: none;
                        li {
                            margin-top: 5px;
                            a {
                                text-decoration: none;
                                color: gray;
                            }
                        }
                    }
                }
            }
            .right-box {
                float: right;
                width: 30%;
            }
            &:after {
                content: "";
                clear: both;
                display: block;
            }
        }
        .copyright {
            height: 40px;
            text-align: center;
            margin-top: 30px;
            background-color: gray;
        }
    }
}