@media(min-width: 981px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    $width-page: 980px;
    $width: 6.25%;
    @for $i from 1 through 16 {
        .col-lg-#{$i} {
            width: $width*$i;
        }
    }
    [class^='col-'] {
        float: left;
    }
    .row {
        width: 100%;
        margin: 10px 0;
    }
    .navigation {
        height: 50px;
        ul {
            position: relative;
            li {
                display: inline;
                a {
                    &:hover .menu {
                        display: block;
                    }
                }
                .menu {
                    position: absolute;
                    top: 50px;
                    left: 20px;
                    display: none;
                }
            }
        }
    }
}